JAVA_VERSION=11

if [ -x "$(command -v /usr/libexec/java_home)" ]; then
  JAVA_HOME=$(/usr/libexec/java_home -v $JAVA_VERSION)
  if [ $? -eq 0 ]; then
    export JAVA_HOME;
    echo Using java $JAVA_HOME;
  else
    echo "Please ensure Java $JAVA_VERSION is installed"
  fi;
else
  echo "Unable to set java version, please ensure your using Java $JAVA_VERSION"
fi
